@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfontses/ClashGrotesk-Medium.woff2') format('woff2'),
        url('../../webfontses/ClashGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfontses/ClashGrotesk-Regular.woff2') format('woff2'),
        url('../../webfontses/ClashGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfontses/ClashGrotesk-Bold.woff2') format('woff2'),
        url('../../webfontses/ClashGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfontses/ClashGrotesk-Light.woff2') format('woff2'),
        url('../../webfontses/ClashGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfontses/ClashGrotesk-Extralight.woff2') format('woff2'),
        url('../../webfontses/ClashGrotesk-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfontses/ClashGrotesk-Semibold.woff2') format('woff2'),
        url('../../webfontses/ClashGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

