@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Regular'), local('SFProText-Regular'),
        url('../../webfontses/SFProText-Regular.woff2') format('woff2'),
        url('../../webfontses/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Medium'), local('SFProText-Medium'),
        url('../../webfontses/SFProText-Medium.woff2') format('woff2'),
        url('../../webfontses/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Semibold'), local('SFProText-Semibold'),
        url('../../webfontses/SFProText-Semibold.woff2') format('woff2'),
        url('../../webfontses/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text HeavyItalic'), local('SFProText-HeavyItalic'),
        url('../../webfontses/SFProText-HeavyItalic.woff2') format('woff2'),
        url('../../webfontses/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Light'), local('SFProText-Light'),
        url('../../webfontses/SFProText-Light.woff2') format('woff2'),
        url('../../webfontses/SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Bold'), local('SFProText-Bold'),
        url('../../webfontses/SFProText-Bold.woff2') format('woff2'),
        url('../../webfontses/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}