/* == bootstrap == */
@import url(../../plugins/plugins/bootstrap.min.css);

/* == bootstrap icon == */
@import url(../../plugins/plugins/bootstrap-icons.css);

/* == box icon == */
@import url(../../plugins/plugins/boxicons.min.css);

/* == magnific popup == */
@import url(../../plugins/plugins/magnific-popup.css);

/* == meanmenu == */
@import url(../../plugins/plugins/meanmenu.min.css);

/* == odometer == */
@import url(../../plugins/plugins/odometer.css);

/* == select2 == */
@import url(../../plugins/plugins/select2.css);

/* == swiper == */
@import url(../../plugins/plugins/swiper-bundle.min.css);

/* == YouTubePopUp == */
@import url(../../plugins/plugins/YouTubePopUp.css);